<!doctype html>

<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="title" content="Among Us France communauté Discord francophone PC et Mobile">
    <meta name="description" content="Rejoins la plus grande communauté Discord francophone d'Among Us sur PC et Mobile.">
    <meta name="keywords" content="among, us, amongus, fr, france, fra, french, français, francais, francaise, françaises, belgique, belge, québec, québécois,  pc, ordinateur, steam, itchio, mobile, smartphone, ios, android, iphone, samsung, ipad, discord, serveur, server, crossplateforme, cross, plate, forme, vocal, voix, écrit, texte">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="French">
    <meta name="author" content="Among Us France">
  </head>

  <body>
    <h1>
      Hello
    </h1>
  </body>
</html>